.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  z-index: 60;
  font-size: 1.6rem;
}

.search-input{
  position: relative;
  background-color: var(--primary-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  padding: 3em 0;
  transform: translateY(-100%);
  transition: all 1s;
  z-index: 65;

  .close-btn{
    position: absolute;
    font-size: 2em;
    top: 1em;
    right: 1em;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 66;

    &:hover{
      background-color: var(--red-text);
    }
    &>svg{
      z-index: 65;
    }
  }

}

.appear{
  .search-input{
    transform: translateY(0);
}
}
.disappear{
  .search-input{
    transform: translateY(-100%);
  }
}

@keyframes movingin{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}