.wrapper{
  width: 100%;
  font-size: 1.6rem;
  background-color: var(--primary-background);
}


.sort-options, .collections{
  &>.item{
    padding: 0.3em 0.5em;
    box-sizing: border-box;
    cursor: pointer;
    &:hover{
      background-color: var(--primary-text);
      color: var(--primary-background);
      opacity: .9;
    }
    &.selected{
      background-color: var(--primary-text);
      color: var(--primary-background);
    }
  }
}

.vendors{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;

  .input>input{
    display: none;
  }
  .input>label{
    padding: 0.3em 0.4em;
    border: 1px solid currentColor;
    cursor: pointer;

    &:hover{
      box-shadow: 0 0 50px 0 inset #000;
      color: #fff;
    }
  }
  .input>input:checked ~ label{
    color: var(--primary-background);
    background-color: var(--primary-text);
  }
}

.colors{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;

  .item{
    width: 1em;
    height: 1em;
    background-color:  var(--bgc);
    border: 1px solid rgba(0,0,0,.6);
    cursor: pointer;
    position: relative;
    transition: all .5s;
  }
  .item.selected{
    transform: scale(1.4);
  }

  .item:nth-child(1)::before{
    content: '';
    width: 1em;
    height: 1px;
    background-color: var(--red-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
