@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --primary-background: #fff;
  --secondary-background: #e03939;
  --tag-background: #090909;
  --dark-background: #0a0101;
  
  --primary-text: #1c1c1c;
  --secondary-text: #fff;
  --red-text: #e12525;
}

a{
  text-decoration: none;
  color: inherit;
}