@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

.App{
  --primary-background: #fff;
  --primary-text: #1c1c1c;
  color: var(--primary-text)
}
.App.dark{
  --primary-background: #1c1c1c;
  --primary-text: #fff;
}
.App.dark input{
  color: #000;
}

:root{
  /* --primary-background: #fff;
  --primary-text: #1c1c1c; */

  --secondary-background: #e03939;
  --tag-background: #090909;
  --dark-background: #0a0101;
  
  --primary-text: #1c1c1c;
  --secondary-text: #fff;
  --red-text: #e12525;
}

a{
  text-decoration: none;
  color: inherit;
}

btn{
  padding: 0;
  border: none;
  outline: none;
}

/* *::-webkit-scrollbar-thumb{
  width: 4px;
  border-radius: 2px;
  background-color: #5c5c5c;
} */